<%= form_with(model: status, class: "contents") do |form| %>
  <% if status.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
        <% status.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="my-5">
    <%= form.label :url, value: "Paste a Mastodon URL that begins a thread here and we'll roll it into something presentable." %>
    <%= form.text_field :url, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:bg-neutral-900 dark:border-neutral-700", help_text:'asdf' %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 dark:bg-neutral-600 hover:bg-indigo-600 transition-colors text-white inline-block font-medium cursor-pointer", value:'🧵 Unthread those toots' %>
  </div>
<% end %>
