<% masto_domain = @status.url.split('/')[2] %>

<main class="mx-auto md:w-2/3 w-full flex dark:text-neutral-200">
  <section class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <header class="relative grid grid-flow-col grid-cols-6 mb-5">
      <h2 class="col-span-4 md:col-span-5">
        <a href="<%= @status.url %>" title="The original post." class="flex flex-col group">

          <span class="text-lg font-bold">
            <%= @json_data["account"]["username"] %>@<%= masto_domain %> posted 
          </span>

          <span>
            <%= time_ago_in_words(@status.published)%> ago 
          </span>

          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 absolute top-1 -left-9 group-hover:text-blue-500 hidden md:block">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
          </svg>

        </a>
      </h2>
      <avatar class="text-center col-span-2 md:col-span-1">
        <a href="<%= @json_data["account"]["url"] %>" class="group">
          <%= image_tag(@json_data["account"]["avatar"], class: "rounded-full w-14 h-14 inline-block") %> 
        </a>
      </avatar>
    </header>
    <%= render @status %>
    <%= render @statuses %>
  </section>
</main>
