<!DOCTYPE html>
<html>
  <head>
    <title><%= !@page_title.nil? ? @page_title + ' | ' : nil %>Threadstodon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Unthread a series of status updates (aka toots) posted to Mastodon." />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="dark:bg-neutral-800 dark:text-neutral-200">
    <main class="container mx-auto pt-28 px-5 flex">
      <%= yield %>
    </main>
    <footer class="text-center my-16">
      Built by <a href="https://toot.cafe/@ericbrookfield" rel="me" class="underline">Eric</a>. Please be kind.
    </footer>
  </body>
</html>
